<div class="modal-body text-center">
  <div class="success-icon">
    <i class="ri-checkbox-circle-fill"></i>
  </div>
  <h5 class="modal-title">{{ 'order_created_successfully' | translate }}</h5>
  <p>{{ 'your_order_has_been_created_successfully' | translate }}</p>
  <div class="button-box">
    <app-button 
      [class]="'btn btn-solid'" 
      [id]="'go_to_orders_btn'" 
      [spinner]="false"
      (click)="goToOrders()">
      {{ 'go_to_orders' | translate }}
    </app-button>
  </div>
</div>

