<div class="promotional-banner-wrapper"
     [style.background-color]="background_color">
  <div class="promotional-banner"
       [style.background-color]="background_color">
    <div class="banner-text-container">
      <div class="banner-text" [style.color]="text_color" [style.font-family]="font_family || null">
        {{ text }} • {{ text }} • {{ text }} • {{ text }} • {{ text }} • {{ text }} • {{ text }} • {{ text }} • {{ text }} • {{ text }}
      </div>
      <div class="banner-text" [style.color]="text_color" [style.font-family]="font_family || null">
        {{ text }} • {{ text }} • {{ text }} • {{ text }} • {{ text }} • {{ text }} • {{ text }} • {{ text }} • {{ text }} • {{ text }}
      </div>
    </div>
  </div>
</div>

