<div class="promotional-banner-wrapper">
  <div class="promotional-banner">
    <div class="banner-text-container">
      <div class="banner-text">
        Entrega mismo día Cartagena y envíos a todo el país • Entrega mismo día Cartagena y envíos a todo el país • Entrega mismo día Cartagena y envíos a todo el país • Entrega mismo día Cartagena y envíos a todo el país • Entrega mismo día Cartagena y envíos a todo el país • Entrega mismo día Cartagena y envíos a todo el país • Entrega mismo día Cartagena y envíos a todo el país • Entrega mismo día Cartagena y envíos a todo el país • Entrega mismo día Cartagena y envíos a todo el país • Entrega mismo día Cartagena y envíos a todo el país
      </div>
      <div class="banner-text">
        Entrega mismo día Cartagena y envíos a todo el país • Entrega mismo día Cartagena y envíos a todo el país • Entrega mismo día Cartagena y envíos a todo el país • Entrega mismo día Cartagena y envíos a todo el país • Entrega mismo día Cartagena y envíos a todo el país • Entrega mismo día Cartagena y envíos a todo el país • Entrega mismo día Cartagena y envíos a todo el país • Entrega mismo día Cartagena y envíos a todo el país • Entrega mismo día Cartagena y envíos a todo el país • Entrega mismo día Cartagena y envíos a todo el país
      </div>
    </div>
  </div>
</div>

