@if(data?.footer?.facebook || data?.footer?.whatsApp || data?.footer?.instagram || data?.footer?.tiktok){
  <div class="footer-social">
    <ul>
      @if(data?.footer?.facebook){
        <li>
          <a href="{{ data?.footer?.facebook }}" target="_blank">
            <i class="ri-facebook-fill"></i>
          </a>
        </li>
      }@if(data?.footer?.instagram){
        <li>
          <a href="{{ data?.footer?.instagram }}" target="_blank">
            <i class="ri-instagram-fill"></i>
          </a>
        </li>
      }
      @if(data?.footer?.whatsApp){
        <li>
          <a href="{{ data?.footer?.whatsApp }}" target="_blank">
            <i class="ri-whatsapp-fill"></i>
          </a>
        </li>
      }
      @if(data?.footer?.tiktok){
        <li>
          <a href="{{ data?.footer?.tiktok }}" target="_blank">
            <i class="ri-tiktok-fill"></i>
          </a>
        </li>
      }
    
    </ul>
  </div>
}
