<!-- Category Icons Section Start -->
<section class="category-section section-b-space">
  <div class="container">
    <div class="row g-4 justify-content-center">
      <div class="col text-center">
        <div class="category-wrap">
          <div class="category-icon">
            <img src="assets/images/icons/gafas.svg" alt="gafas" class="img-fluid blur-up lazyload">
          </div>
          <h3>GAFAS</h3>
        </div>
      </div>
      <div class="col text-center">
        <div class="category-wrap">
          <div class="category-icon">
            <img src="assets/images/icons/bolsos.svg" alt="bolsos" class="img-fluid blur-up lazyload">
          </div>
          <h3>BOLSOS</h3>
        </div>
      </div>
      <div class="col text-center">
        <div class="category-wrap">
          <div class="category-icon">
            <img src="assets/images/icons/sombreros.svg" alt="sombreros" class="img-fluid blur-up lazyload">
          </div>
          <h3>SOMBREROS</h3>
        </div>
      </div>
      <div class="col text-center">
        <div class="category-wrap">
          <div class="category-icon">
            <img src="assets/images/icons/moras.svg" alt="moras" class="img-fluid blur-up lazyload">
          </div>
          <h3>MORAS</h3>
        </div>
      </div>
      <div class="col text-center">
        <div class="category-wrap">
          <div class="category-icon">
            <img src="assets/images/icons/ganchos.svg" alt="ganchos" class="img-fluid blur-up lazyload">
          </div>
          <h3>GANCHOS</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Category Icons Section End -->