@if(menu.link_type === 'sub'){
  <h5 class="dropdown-header ">{{ menu.title }}</h5>
}@else {
  @if(menu.link_type === 'link' && !isExternalLink(menu)){
    <a class="dropdown-item" href="javascript:void(0)" (click)="redirect(menu.path)">
      {{ menu.title}}
      @if(menu.badge_text){
        <label class="menu-label {{ menu.badge_color }}">{{ menu.badge_text | translate }}</label>
      }
    </a>
  }
  @if(menu.link_type === 'link' && isExternalLink(menu)){
    <a [href]="menu.path" class="dropdown-item" target="_blank" rel="noopener noreferrer">
      {{ menu.title }}
      @if(menu.badge_text){
        <label class="menu-label {{ menu.badge_color }}">{{ menu.badge_text | translate }}</label>
      }
    </a>
  }
}

@if(menu.child){
  <ul>
    @for(link of menu.child; track link.id){
      <app-link-box [menu]="link"></app-link-box>
    }
  </ul>
}
