<!-- Home Section Start -->
<section class="p-0">
    <div class="home-slider">
      <app-theme-home-slider [banners]="data?.content?.home_banner"></app-theme-home-slider>
    </div>
  </section>
  <!-- Home Section End -->
  
  <!-- Nueva Coleccion Section Start -->
  @if(data?.content?.products_list?.status && data?.content?.products_list?.product_ids){
    <section class="section-b-space nueva-coleccion-section">
      <div class="container">
        <div class="nueva-coleccion-title">
          <h2>{{ 'nueva_coleccion' | translate }}</h2>
        </div>
        <div class="nueva-coleccion-products">
          <app-theme-product [productIds]="data?.content?.products_list?.product_ids || []" [style]="'vertical'"
            [slider]="true" [options]="newCollectionSlider"></app-theme-product>
        </div>
      </div>
    </section>
  }
  <!-- Nueva Coleccion Section End -->
  
  <!-- Product slider Start -->
  @if(data?.content?.products_list?.status && data?.content?.products_list?.product_ids){
    
  <app-theme-title [title]="data?.content?.products_list" [type]="'basic'"></app-theme-title>
  <section class="section-b-space pt-0">
    <div class="container">
      <app-theme-product [productIds]="data?.content?.products_list?.product_ids || []" [style]="'vertical'"
        [slider]="true"></app-theme-product>
    </div>
  </section>
  }
  <!-- Product slider end -->
  
  <!-- Full Banner Start -->
  @if(data?.content?.banner?.status){
  <section class="p-0 banner-sale">
    <app-image-link [image]="data?.content?.banner" [placeholder]="'assets/images/full_column_banner.png'"
      [bgImage]="false"></app-image-link>
  </section>
  }
  <!-- Full Banner End -->
  
  <!-- Tab product Start-->
  @if(data?.content?.category_product?.status && data?.content?.category_product?.category_ids){
  <app-theme-title [title]="data?.content?.category_product" [type]="'basic'"></app-theme-title>
  <section class="section-b-space category-tab-section pt-0">
    <div class="container">
      <app-theme-product-tab-section [categoryIds]="data?.content?.category_product?.category_ids" [style]="'vertical'">
      </app-theme-product-tab-section>
    </div>
  </section>
  }

  @if(data?.content?.banner_piepagina?.status){
    <section class="p-0 banner-sale">
      <app-image-link [image]="data?.content?.banner_piepagina" [placeholder]="'assets/images/full_column_banner.png'"
        [bgImage]="false"></app-image-link>
    </section>
    }
  <!-- Tab product End-->
  
  <!-- Service Start -->
 
  <!-- Service End -->
  

  <!-- Brand Section Start -->

  <!-- Brand Section End -->